<!-- views/partials/footer.ejs -->
                  <div class="mastfoot">
                    <div class="inner">
                      <p>saysay218@naver.com</a>.</p>
                    </div>
                  </div>
